.state-map-wrapper {
	svg {
		g {
			circle, path {
				fill: #ccc;
				stroke: #fff;
			}
		}

		path {
			stroke: #dedede;
		}
	}
}

.states-wrapper {
	.state-wrapper {
		padding-top: 42px;
		margin-top: 42px;
		border-top: 2px solid #dedede;

		.state-map {
			float: right;
			width: 300px;
			margin-top: 4px;
			text-align: center;

			a {
				border: none !important;

				svg {
					max-width: 250px;
					max-height: 250px;

					path {
						fill: #ccc;
						stroke: #fff;
					}
				}
			}
		}

		.state-info-box {
			h2, h3 {
				margin-bottom: 4px;

				&::before {
					display: none;
				}
			}

			p {
				margin-bottom: 0;
			}
		}
	}
}

@media (max-width: 767px) {
	.states-wrapper {
		.state-wrapper {
			text-align: center;

			.state-map {
				float: none;
				margin: 0 auto 2rem auto;
			}
		}
	}
}
